.background-image {
  top: 0;
  left: 0;
  height: 1000%;
  width: 100%;
  background: url("../../images/egg.jpg");
  background-position: center center;
  background-size: 500px;
  background-repeat: repeat;
  position: absolute;
  z-index: -1;
  animation: infiniteScroll 50s linear infinite;
}

.home-main-section {
  font-size: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.image-wrapper {
  /* flex-grow: 1; */
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: auto;
  background-color: white;
  clip-path: polygon(2% 2%, 100% 0, 98% 96%, 0 99%);
  animation: move 3s infinite ease-in-out;
}

.picnic-image {
  padding: 2rem;
  width: 65vw;
}

.subtitle-1 {
  font-size: 30px;
  font-family: "Shrikhand", sans-serif;
  color: #ff6343;
  background-color: white;
  padding: 20px 60px;
  clip-path: polygon(2% 7%, 100% 4%, 93% 84%, 8% 95%);
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .image-food {
  background-image: url("../picnic.png");
  background-size: contain;
  height: 60vh;
  width: 85%;
  background-repeat: no-repeat;
  background-position: center;
} */

.subtitle-2 {
  font-family: "Shrikhand", sans-serif;

  color: #ff6343;
  margin-top: 1rem;
  align-self: center;
  text-align: center;
}

.home-search-bar {
  width: 250px;
  font-family: "roboto mono", sans-serif;
  text-align: center;
  color: #000000;
  font-size: 13px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35px;
  border-radius: 10px;
  border: none;
}

.home-search-bar:focus {
  outline: none;
}

.home-search-bar::placeholder {
  font-family: "shrikhand", sans-serif;
  color: #e5e5e5;
}

@keyframes move {
  0% {
    clip-path: polygon(2% 2%, 100% 0, 98% 96%, 0 99%);
  }
  50% {
    clip-path: polygon(1% 2%, 98% 1%, 99% 98%, 1% 97%);
  }
  100% {
    clip-path: polygon(2% 2%, 100% 0, 98% 96%, 0 99%);
  }
}

@keyframes infiniteScroll {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, -2000px, 0);
  }
}
@media only screen and (min-width: 414px) and (max-width: 1024px) {
  .subtitle-2 {
    font-size: 30px;
  }

  .subtitle-1 {
    font-size: 30px;
    text-align: center;
    width: 60%;
    padding: 1rem;
  }

  .home-search-bar {
    top: 60%;
    width: 40%;
  }

  .picnic-image {
    width: 80vw;
  }
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
  .picnic-image {
    opacity: 0;
    /* padding: 1rem; */
    width: 100%;
    height: 100%;
  }
  .home-main-section {
    justify-content: space-evenly;
    font-size: 20px;
  }
  .image-wrapper {
    flex-grow: 0;
    animation: none;
    width: 80%;
    clip-path: none;
    background: none;
    width: 100%;
    height: 100%;
    position: static;
  }

  .subtitle-1 {
    width: 90%;
    height: 20%;
    font-size: 25px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subtitle-2 {
    font-size: 22px;
  }

  .home-search-bar {
    width: 300px;
    top: 55%;
    height: 35px;
  }
}

@media only screen and (max-width: 320px) {
  .subtitle-1 {
    font-size: 18px;
    padding: 0;
  }

  .subtitle-2 {
    font-size: 18px;
    margin: 0 1rem;
  }

  .home-search-bar {
    width: 250px;
  }
}
