.result-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px black solid;
  padding: 0 0 1rem 0;
  margin: 0 0 1rem 0;
}

.result-card-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  margin: 0 0 1rem 0;
}

.result-card-text {
  width: 70%;
  margin: 0 3rem 0.4rem 3rem;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* align-items: flex-start; */
  order: 1;
}

.result-card-text a {
  text-decoration: none;
  color: black;
}

.result-card-info {
  display: flex;
}

.result-card-favourite {
  font-size: 12px;
  order: 2;
  display: flex;

  align-items: flex-start;
  color: black;
  text-decoration: none;
}

.result-card-favourite-contents {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  font-family: "roboto mono", sans-serif;
}

.result-card-favourite-contents:active .empty-star #Star-2 {
  animation: fillStar 2s forwards;
}

.result-card-image {
  height: 130px;
  width: 130px;
  order: 0;
  border-radius: 0.5rem;
}

@keyframes fillStar {
  0% {
    fill: lightgrey;
  }
  100% {
    fill: #f8e21f;
  }
}
