.favourites-container {
  margin: 2rem 3rem 0 3rem;
  flex-grow: 1;
  padding: 3rem;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  font-family: "roboto mono", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  position: relative;
}

.favourites-container-title {
  /* font-family: "shrikhand", sans-serif; */
  text-align: center;
  /* color: #c4c4c4; */
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 0 1rem 2.5rem 1rem;
  padding: 0 0 0.5rem 0;
  /* border-bottom: 1px #c4c4c4 solid; */
}

.favourite-card {
  display: flex;
  padding: 1rem;
  background-color: #fbf1f1;
  /* border-bottom: 1px #c4c4c4 solid; */
}

.favourite-card-image {
  width: 130px;
  height: 130px;
  margin: 0 0.5rem 0 0;
  border-radius: 5px;
}

.favourite-card-text {
  margin: 0 0 0 3rem;
  width: 70%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favourite-card-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  align-self: flex-start;
}

.favourite-card-text a {
  text-decoration: none;
  color: black;
}

.favourite-card-info {
  display: flex;
}

.favourite-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.clear-button-wrapper {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  border: none;
  background: none;
  align-self: flex-end;
  width: 17px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.clear-button-wrapper:focus {
  outline: none;
}

@media only screen and (max-width: 550px) {
  .favourites-container {
    margin: 0;
    padding: 0;
  }
  .favourites-container-title {
    margin: 1rem 0;
  }

  .favourite-cards-container {
    display: flex;
    flex-direction: column;
  }

  .favourite-card {
    margin: 1rem;
    padding: 1rem 0 1rem 1rem;
    display: flex;
    justify-content: flex-start;
  }

  .favourite-card-text {
    margin: 0 0.2rem;
    font-size: 10px;
  }

  .favourite-card-title {
    font-size: 11px;
  }

  .favourite-card-image {
    width: 150px;
    height: auto;
  }

  .clear-button-wrapper {
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 550px) and (max-width: 768px) {
  .favourite-cards-container {
    display: flex;
    flex-direction: column;
  }
  .favourite-card {
    margin: 1rem;
    padding: 1rem 0 1rem 1rem;
    display: flex;
    justify-content: flex-start;
  }
  .favourite-card-text {
    margin: 0 0.2rem;
    font-size: 10px;
  }

  .favourite-card-title {
    font-size: 11px;
  }

  .favourite-card-image {
    width: 150px;
    height: auto;
  }

  .clear-button-wrapper {
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .favourite-card-text {
    margin-left: 1rem;
  }
}
