.nav-toggle-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  z-index: 300;
}

.nav-toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #ff6343;
  border-radius: 10px;
}

@media only screen and (max-width: 414px) {
  .nav-toggle-button {
    display: flex;
  }
}
